{{define "about"}}

  <section class="hero blogs-hero latest-hero">
    <h2>About</h2>
  </div>
</section>
<section class="section">
  <h2>{{.BodyTitle}}</h2>
  {{if .LeadFigure}}{{.LeadFigure}}{{end}}
  <div class="content">{{.Content}}</div>
</section>
{{end}}
